// <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Audiowide|Bungee+Hairline|Gafata|Heebo|Iceberg|Megrim|Montserrat+Alternates|Nova+Cut|Nova+Square|Orbitron|PT+Mono|Plaster|Quantico|Share+Tech+Mono|Source+Code+Pro|Space+Mono|Stalinist+One|VT323" rel="style'slantregular// <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Audiowide|Bungee+Hairline|Gafata|Heebo|Iceberg|Megrim|Montserrat+Alternates|Nova+Cut|Nova+Square|Orbitron|PT+Mono|Plaster|Quantico|Share+Tech+Mono|Source+Code+Pro|Space+Mono|Stalinist+One|VT323" rel="stylesheet">
@font-face {
    font-family: 'slantregular';
    src: url('../../fonts/txt/slant-webfont.woff2') format('woff2'),
         url('../../fonts/txt/slant-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$headings-1: 'Orbitron', sans-serif;
$headings-2: 'Audiowide', cursive;
$headings-3: 'Montserrat Alternates', sans-serif;
$headings-4: 'Stalinist One', cursive;
$headings-5: 'Nova Cut', cursive;
$headings-6: 'Megrim', cursive;
$headings-7: 'Nova Square', cursive;
$headings-8: 'Iceberg', cursive;
$headings-9: 'slantregular', sans-serif;
//
$contenidos-1: 'Source Code Pro', monospace;
$contenidos-2: 'Share Tech Mono', monospace;
$contenidos-3: 'PT Mono', monospace;
$contenidos-4: 'Heebo', sans-serif;
$contenidos-5: 'Gafata', sans-serif;
$contenidos-6: 'Space Mono', monospace;
//
$especial-1: 'Quantico', sans-serif;
$especial-2: 'VT323', monospace;
$especial-3: 'Allerta Stencil', sans-serif;
$especial-4: 'Bungee Hairline', cursive;
$especial-5: 'Plaster', cursive;

// array de fuentes
$lista-fuentes: (

headings-1 $headings-1,
headings-2 $headings-2,
headings-3 $headings-3,
headings-4 $headings-4,
headings-5 $headings-5,
headings-6 $headings-6,
headings-7 $headings-7,
headings-8 $headings-8,
headings-9 $headings-9,
//
contenidos-1 $contenidos-1,
contenidos-2 $contenidos-2,
contenidos-3 $contenidos-3,
contenidos-4 $contenidos-4,
contenidos-5 $contenidos-5,
contenidos-6 $contenidos-6,
//
especial-1 $especial-1,
especial-2 $especial-2,
especial-3 $especial-3,
especial-4 $especial-4,
especial-5 $especial-5,
);
// Crea las clases
@each $value in $lista-fuentes {

  .font-#{nth($value, 1)} {
    & {
      font-family: nth($value, 2);
    }
  }

}
