//
@media screen and (min-width:1024px) {
// @media screen and (min-width:nth($breakpoints,2)) {
// @include breakpoint(medium) {

  .h-md-20 {
    height: 20%;
  }
  .h-md-30 {
    height: 30%;
  }
  .h-md-50 {
    height: 50%;
  }
  .h-md-60 {
    height: 60%;
  }
  .h-md-70 {
    height: 70%;
  }
  .h-md-80 {
    height: 80%;
  }
  .h-md-100 {
    height: 100%;
  }
  .h-md-35-v {
    height: 35vh;
  }
  .h-md-40-v {
    height: 40vh;
  }
  .h-md-50-v {
    height: 50vh;
  }
  .h-md-60-v {
    height: 60vh;
  }
  .h-md-70-v {
    height: 70vh;
  }
  .h-md-80-v {
    height: 80vh;
  }
  .h-md-85-v {
    height: 85vh;
  }
  .h-md-90-v {
    height: 90vh;
  }
  .h-md-95-v {
    height: 95vh;
  }
  .h-md-100-v {
    height: 100vh;
  }
  .font-huge {
    font-size: 6em;
  }

  .heroscreen-redes div a i {
    font-size: 1.75em;
  }
  #social div a i {
    font-size: 1.25em;
  }
  // instagram feed
  #inicio-feed {
    height: 100dvh
  }
  #inicio-artistas,
  #inicio-releases,
  #inicio-mixtapes {
    height: 24rem;
  }
}
@media screen and (max-width:1024px) {
// @media screen and (max-width:nth($breakpoints,2)) {
  // @include breakpoint(medium down) {
  .h-md-40 {
    height: 40%;
  }
  //
  .titulo-header-artistas,
  .titulo-slider-home {
    font-size: 4.5rem !important;
  }
  .titulo-menu-movil {
    font-size: 7.5rem !important;
  }
  .titulo-header-releases,
  .titulo-header-mixtapes {
    font-size: 3.5rem !important;
  }
  .subtitulo-header-releases,
  .subtitulo-header-mixtapes {
    font-size: 2.5rem !important;
  }
  //
}
//
@media screen and (max-width:640px) {
// @media screen and (max-width:nth($breakpoints,1)) {
// @include breakpoint(small) {
  #footer-widgets {
    .h-footer-widget {
      height: 60vh !important;
    }
    .h-widget-contacto {
      height: auto !important;
    }
  }
  //
  .titulo-header-artistas,
  .titulo-slider-home {
    font-size: 2.5rem !important;
  }
  .titulo-menu-movil {
    font-size: 6rem !important;
  }
  .titulo-header-releases,
  .titulo-header-mixtapes {
    font-size: 2.5rem !important;
  }
  .subtitulo-header-releases,
  .subtitulo-header-mixtapes {
    font-size: 1.5rem !important;
  }
  //
}
