@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// agregados
@import "bower_components/font-awesome/scss/font-awesome";
@import "submodulos/style_utils/scss/style_utils";
@import "paleta_color";

//reset general

* {outline: 1px solid rgba(0,0,0,0.35)}

div, section, nav, ul, li {
  display: block;
  @extend .h-100;
}
//
// generales
.shadow {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.35);
}
.shadow-up {
  box-shadow: 2px -2px 2px rgba(0,0,0,0.35);
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.35);
}
// p.top y p-bottom
// tienen la misma altura que footer y header
// para contenedor seccion esencialmente
.p-top {
  padding-top: 10vh;
}
.p-bottom {
  padding-bottom: 10vh;
}

//posicion menu movil
.gira-icono-menu {
  transition: 0.4s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
